doctype html
html
    head
        title= "Tablero | El m치s r치pido"
        style
            include ../css/style.css
        script(src='/tablero.js')
        script(src='/socket.io/socket.io.js')
        script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.js')

    body
        h1 El m치s r치pido
        .textos
            p#puntuacion
            p#timer
        #tablero
        .inputs
            input#height(type='number' min="0" max="10")
            br
            input#width(type='number' min="0" max="10")
            br
            input#boto(type='button' value='Size')

        .botones
            input#mongo(type='button' value='Guardar')
            input#logout(type='button' value='Logout')
           